body {
    margin:0;
    padding:0;
    overflow:hidden;
}

#R1 {
    background: red;
    color: skyblue;
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

footer {
    background-color: cadetblue;
    color: yellow;
}
