/*This is CSS file for beautifying HTML*/

body, h1, h2, section {  
        font-family: Courier, Courier, monospace;
        color: black;
        font-weight: 900;
        background-color: #ffff99;
        margin: 40px;
        border: 40px;
        padding: 10px;
        font-size: 1rem;
      
    
}

.sections:hover {
           background-color: white;        
}

ol { 
        
        background-color: green;
        margin-bottom: 40px;
        padding: 40px;
}

ul {
        background-color: green;
        margin-bottom; 40px;
        padding: 45px;
        
}

li {
        line-height: 100%;
        font-family: Courier, Courier, monospace;
        color: #ffff99;
        padding: 10px;
        font-weight: 900;
        letter-spacing: -1px;
        word-spacing: -2px;

}

p { 
        font-family: Arial, Helvetica, sans-serif;
        border: 3px dotted #ffcc00;
        padding: 10px;
        letter-spacing: -1px;
        margin-bottom: 40px;
        background-color: green;
}

a:active {
         background-color: white;
         color: yellow;
 
