/*This is CSS file for beautifying HTML*/

body {  background-color: #ffff99;
        margin: 40px;
        border: 40px;
        padding: 10px;
        font-size: 1rem;
      
    
}

.sections:hover {
           background-color: white;        
}


h1 {    
        font-family: impact, sans-serif;
        color: #FF6600;
        font-weight: 900;
        letter-spacing: -2px;
        border: 2px solid #ff6600;
        padding: 10px;
        margin-bottom: 40px;
        font-weight: 900;
    

        
}

h2 { 
        font-family: Courier, Courier, monospace, serif;
        color: sandybrown;
        border: 1px solid black;
        background: green;
        border-top: 40px;
        padding: 10px;
        padding-top: 40px;
        margin-bottom: 40px;
        font-style: italic;
    

}

ol { 
        
        background-color: green;
        margin-bottom: 40px;
        padding: 40px;
}

ul {
        background-color: green;
        margin-bottom; 40px;
        padding: 45px;
        
}

li {
        line-height: 100%;
        font-family: Courier, Courier, monospace;
        color: #ffff99;
        padding: 10px;
        font-weight: 900;
        letter-spacing: -1px;
        word-spacing: -2px;

}

p { 
        font-family: Arial, Helvetica, sans-serif;
        border: 3px dotted #ffcc00;
        padding: 10px;
        letter-spacing: -1px;
        margin-bottom: 40px;
}

