 /* TABLE 3 */
            
table.e2, td.e2 {
        border: 1.5px solid;
        border-collapse: collapse;
        background-color: lightgrey;
                
}

th.e2 {
        border: 1.5px solid;
        background-color: gray;
}
